* {
  margin: 0;
  padding: 0;
}
#wrap {
  width: 100%;
  height: 1000px;
  color: #fff;
  font-size: 30px;
  text-align: center;
}
#header-wrap {
  width: 100%;
  background-color: #8d6e63;
}
#banner-wrap {
  width: 100%;
  background-color: #a1887f;
}
#content-wrap {
  width: 100%;
  background-color: #bcaaa4;
}
#footer-wrap {
  width: 100%;
  background-color: #d7ccc8;
}
.header-container {
  width: 1000px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  background-color: #643e38;
}
.banner-container {
  width: 1000px;
  height: 150px;
  line-height: 150px;
  margin: 0 auto;
  background-color: #69463e;
}
.content-container {
  width: 1000px;
  height: 200px;
  line-height: 30px;
  font-size: 20px;
  margin: 0 auto;
  background-color: #7b5449;
}
.footer-container {
  width: 1000px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  background-color: #886153;
}
